<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Ingreso de Productos</title>
        <!-- CSS only -->
        <link rel="stylesheet" href="{% static 'core/css/estilo.css'%}"> <!--Mi estilo-->
    </head>
    <header>
        <div>
            <a class="none1" href=""><h1 class="size">AMIGOS PELUDOS</h1></a>
        </div>
        <nav>
            <a class="none" href="{% url 'home' %}">INICIO</a>
            <a class="none" href="{% url 'home'  %}">SOBRE NOSOTROS</a>
            <a class="none" href="#contacto">CONTACTO</a>
        </nav>
    </header>
    <body>
        <div class="container">
            <div><h1>Crear Nuevo Producto</h1></div>
        <div class="row">
            <form action="" method="post" id="formulario" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_table }}
                    <label>Imagen</label>
                    <input type="file" name="myfile">
                </div>
                <input type="submit" class="enviar" id="enviar" value="Enviar">
                <input type="reset" class="limpiar" id="limpiar" value="Limpiar">
                </div>
                <div id="error" class="alert alert-success" role="alert">
                    {{ mensaje }}
            </form>
            {% if uploaded_file_url %}
            <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
            {% endif %}
        
          <p><a href="{% url 'home' %}">Ir a pagina principal</a></p>
        
        </div>
        <a href="{% url 'Productos' %}">Volver</a>
    </div>
    <section id="contacto">
        <div>
            <p>
                ¿tienes dudas o quieres preguntar por algún producto? ¡Puedes contactarte con nosotros en estos números o en nuestras redes sociales!
            </p>
            <section class="numero">
                <div>+56932823020</div>
                <div>+56931288037</div>
            </section>
        </div>
        <div>
            <img src="{% static 'core/img/37409.png'%}" alt="">
            <img src="{% static 'core/img/87390.png'%}" alt="">
            <img src="{% static 'core/img/whatsapp-logo-4.png'%}" alt="">
        </div>
    </section>
    </body>
</html>